/*    Common Style
-------------------------------------------- */
:root {
    --font: 'Open Sans', sans-serif;

    --color-primary: #33dc24;
}

body {
    font-family: var(--font);
    line-height: 1.6;
}

.heading__secondary {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
}

/*    Bootstrap Overwrite
-------------------------------------------- */
.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #f7f7f7;
}

.nav-pills .nav-link.active {
    background-color: #b12237;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
       padding: 1rem .8rem;
    }
}

/*    Navbar Section
-------------------------------------------- */
.top-navbar {
    position: relative;
    z-index: 50;
    padding: 0 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.03);
}

.top-navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar__logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
}

.top-navbar__logo img {
    width: 200px;
}

.top-navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.top-navbar__item {
    display: flex;
    align-items: center;
}

.top-navbar__item:not(:last-child) {
    margin-right: 20px;
}

.top-navbar__link {
    font-size: 14px;
    color: #333333;
    display: inline-block;
    padding: 20px 0;
    transition: all .2s;
}

.top-navbar__link i {
    font-size: 25px;
    margin-right: 8px;
    color: #727171;
}

.top-navbar__btn {
    font-weight: 700;
    border-left: 1px solid #dfdfdf;
    padding-left: 20px;
}

.top-navbar__btn i {
    font-size: 25px;
    vertical-align: middle;
    color: #727171;
    margin-right: 5px;
}

.bottom-navbar {
    background-color: #f3f5f7;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.bottom-navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.bottom-navbar__item {
    padding: 0;
    flex-grow: 1;
}

.bottom-navbar__link {
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
    display: inline-block;
    padding: 10px;
    transition: all .2s;
}

.bottom-navbar__link:hover {
    background-color: #fff;
    text-decoration: none;
}

@media(max-width: 1200px) {
    .bottom-navbar__list {
        min-width: 1110px;
    }

    .bottom-navbar__menu {
        overflow-x: scroll;
    }
}

/*    Booking Section
-------------------------------------------- */
.booking {
    padding: 40px 0 30px 0;
    background-image: url('../img/booking-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.booking__heading {
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 35px;
}

.booking__form {
    display: flex;
    justify-content: center;
}

.booking-form__input {
    height: 62px;
    border: 0;
    padding: 12px 16px;
    border-right: 1px solid var(--color-primary);
}

a.booking-form__input {
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}

a.booking-form__input:hover {
    color: #fff;
}

.booking-form__input:first-child {
    width: 350px;
}

.booking-form__input:nth-child(2) {
    width: 230px;
}

.booking-form__input:nth-child(3) {
    width: 230px;
}

.search__btn {
    padding: 0 40px;
    font-size: 18px;
    background-color: #1ab64f;
    color: #fff;
}

@media(max-width: 992px) {
    .booking__form {
        flex-direction: column;
    }

    .booking-form__input:first-child {
        width: 100%;
    }

    .booking-form__input:nth-child(2) {
        width: 100%;
    }
    
    .booking-form__input:nth-child(3) {
        width: 100%;
    }
}

/*    Additional Service Section
-------------------------------------------- */
.additional-service {
    background-color: #ececec;
}

.additional-service__box {
    display: flex;
    justify-content: center;
}

.additional-service__btn {
    background-color: #ececec;
    padding: 10px 20px;
    color: #383838;
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
    transition: all .2s;
}

.additional-service__btn  {
    border-left: 1px dotted #9c9c9c;
}

.additional-service__btn:last-child {
    border-right: 1px dotted #9c9c9c;
}

.additional-service__btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #c30521;
}

/* Media Quries */
@media (max-width: 992px) {
    .additional-service__box {
        width: 930px;
    }

    .horizontal-scroll {
        overflow-x: scroll;
    }
}

/*    Special Service Section
-------------------------------------------- */
.special-service {
    padding: 50px 0 70px 0;
}

.special-service__img {
    display: inline-block;
    margin: 10px 0;
    transition: all .3s;
}

.special-service__img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.special-service__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*    Welcome Section
-------------------------------------------- */
.welcome {
    background-image: linear-gradient(90deg, rgba(38, 103, 145, 0.9) 50%, rgba(255,255,255,0) 50%), url('../img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.welcome__content {
    padding-right: 25px;
}

.heading__primary {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.heading__primary--white {
    color: #f0f0f0;
}

.welcome__text {
    color: #dadada;
}

/*    Popular Place Section
-------------------------------------------- */
.popular-place {
    padding: 60px 0;
}


.popular-place__img {
    height: 200px;
}

.popular-place__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-place__name {
    font-size: 20px;
    margin: 10px 0 0px 0;
    font-weight: 600;
}

.popular-place__text {
    color: #494949;
    margin-bottom: 5px;
    font-size: 14px;
}

.popular-place__text i {
    margin-right: 3px;
}

.popular-place__desc {
    color: #747474;
}

/*    About Section
-------------------------------------------- */
.about {
    background-image: url('../img/about-sec-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.about__content {
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.about__heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.about__text {
    margin-bottom: 0;
    color: #757575;
}


.about__btn {
    padding: 15px 30px;
    font-weight: 700;
}

/*    Fixed Enquire Section
-------------------------------------------- */
.fixed-enquire__btn {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: #1ab64f;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
    z-index: 99;
}

.fixed-enquire__btn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transform: translateY(-3px);
    text-decoration: none;
}

.fixed-enquire__btn i {
    font-size: 20px;
    color: #eeeeee;
}

.fixed-enquire-form {
    position: fixed;
    bottom: 90px;
    right: 25px;
    width: 300px;
    background-color: #c1c1c1;
    padding: 20px;
    border-radius: 5px;
    z-index: 99;

    display: none;
}

.fixed-enquire-form::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 100%;
    border-top: 12px solid #c1c1c1;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

/*    Custom Modal Section
-------------------------------------------- */
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    padding: 20px 0;

    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

#enquire:target {
    display: flex;
}

.custom-modal__container {
    width: 60%;
    background-color: #ebebeb;
    position: relative;
}

.modal__close {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 25px;
    height: 25px;
    background-color: rgba(27, 27, 27, 0.438);
    border-radius: 50%;
    color: #fff;
}

.modal__close:hover {
    color: #d8d8d8;
    text-decoration: none;
}

.custom-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ebebeb;
    padding: 10px 20px;
}

.custom-modal__header span {
    color: #bb7307;
    font-weight: 700;
}

.custom-modal__header h3 {
    font-size: 20px;
    color: #494949;
    text-align: center;
}

.custom-modal__header i {
    font-size: 40px;
    vertical-align: middle;
    color: var(--color-primary);
}

.custom-modal__header img {
    width: 200px;
}

.enquire-group {
    border-left: 10px solid var(--color-primary);
}

.enquire-form__input {
    width: 100%;
    height: 60px;
    border: 0;
    padding-left: 25px;
}

.enquire-group__box {
    padding: 20px;
}

.corporate span {
    font-weight: 700;
    font-size: 14px;
    color: #bb7307;
}

.corporate span:hover {
    text-decoration: underline;
    cursor: pointer;
}

#js-corporate-field {
    display: none;
}

@media(max-width: 1200px) {
    .custom-modal__container {
        width: 80%;
    }
}

@media(max-width: 992px) {
    .custom-modal__container {
        width: 95%;
    }
}

@media(max-width: 768px) {
    .custom-modal {
        overflow-y: scroll;
        align-items: flex-start;
    }

    .modal__close {
        display: none;
    }
}

@media(max-width: 552px) {
    .custom-modal__header {
        flex-direction: column;
    }
}

/*    Footer Section
-------------------------------------------- */
.footer {
    padding: 40px 0;
    background-color: #6d787d;;
}

.footer hr {
    background-color: #bebebe;
}

.footer__logo {
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    /* border-bottom: 1px solid #bebebe; */
}

.footer-top__link {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin-right: 20px;
    font-size: 16px;
}

.footer-top__link:hover {
    color: #fff;
}

.footer__middle-heading {
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}

.footer__app {
    display: inline-block;
    margin: 10px 0;
}

.footer__app img {
    width: 170px;
    /* border: 1px solid #fff; */
    border-radius: 5px;
}

.footer__app:first-child {
    margin-right: 8px;
}

.footer__middle-link {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer__middle-link:hover {
    color: #fff;
}

.bb-style {
    border-right: 1px solid #bebebe;
}

.footer__bottom {
    margin-top: 20px;
}

.heading__hotels {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.footer__copy {
    font-size: 14px;
    color: #d1d1d1;
    text-align: right;
    margin-bottom: 0;
}

.social__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social__item {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.social__link {
    color: #fff;
}

.social__link:hover {
    text-decoration: none;
    color: #fff;
}